USE [master]
GO
/****** Object:  Database [AutoSalon]    Script Date: 22.03.2017 16:19 ******/
CREATE DATABASE [AutoSalon]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AutoSalon].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AutoSalon]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 22.03.2017 16:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Cars]    Script Date: 22.03.2017 16:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Brand] [nvarchar](200) NOT NULL,
	[YearOfManufacture] [int] NOT NULL,
	[Horsepower] [int] NOT NULL,
	[Importer] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Cars] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Cars] ON 

INSERT [dbo].[Cars] ([Id], [Brand], [YearOfManufacture], [Horsepower], [Importer], [Description]) VALUES (1, N'Audi', 2005, 228, N'Happy Cars', N'description')
INSERT [dbo].[Cars] ([Id], [Brand], [YearOfManufacture], [Horsepower], [Importer], [Description]) VALUES (2, N'BMW', 2006, 162, N'Funky Vehicles', N'some other description')
INSERT [dbo].[Cars] ([Id], [Brand], [YearOfManufacture], [Horsepower], [Importer], [Description]) VALUES (3, N'Dacia', 2007, 44, N'Nice & Cheap', N'another description')
SET IDENTITY_INSERT [dbo].[Cars] OFF
USE [master]
GO
